DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inventory?schema=public"
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzJhOWI5MDNjMjQ2NzgxOTU4MjFlODU3NmYzNWYwMzQ5ZjA0NGYyNTMyNWQyYzQxYTQ5N2E2YzViN2Q5Yjc2NzAiLCJhcHBJZCI6IjBneWgyMTBqb2oiLCJyZWdpb25zIjpbInNlYTEiXX0='